*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#powiadomienia{
    position: relative;
    width: 942px;
    height: 80px;
}
#polecenie{
    position: absolute;
    top:0;
    left: 200px;
    right: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: black;
    color: white;
}
#polecenie p{
    margin: 10px;
}
.title{
    position: absolute;
    top:40px;
    height: 40px;
    
}
.title p{
    margin-top:20px;
    margin-bottom: 0;
}
#title_statki{
    left: 0;
    width: 150px;
}
#title_gracz{
    left: 150px;
    width: 396px;
}
#title_komputer{
    left: 546px;
    width: 396px;
}
#statki{
    float: left;
    left:10px;
    width: 150px;
    margin-top :25px;
}
#statki div div {
    float:left;
    height:30px;
    width:30px;
    margin: 0.5px;
    margin-top: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}
#gracz{
    position: relative;
    float: left;
}
#komputer{
    float: left;
    left: 1000px;
}
.pole, .pole_komp{
    float:left;
    margin: 0.5px;
    height:30px;
    width:30px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
}
.clean{
    float:left;
    margin: 0.5px;
    height:30px;
    width:30px;
    border: 1px solid white;
    
}
.clean p{
    font-size: 10px;
}
#przykrywka{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    opacity:0;
}
#show{
    position: absolute;
    height: 30px;
    width: 150px;
    top: 475px;
    left: 669px;    
    background:black;
    border-radius: 10px;
    cursor: pointer;
}
#show:hover{
    opacity: 50%;
}
#show p{
    margin:5px;
    color: white;
}
#end{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,0.7)
}
#end div{
    background: rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    left: 35%;
    right: 35%;
    height: 35px;
    cursor: pointer;
    border-radius: 15px;
}
#end h1{
    margin-top: 15%;
    font-weight: bolder;
    font-size: 6em;
}
#end p{
    font-size: 15px;
    margin-top: 10px;
    color: white;
}
div:nth-child(12n+1){
    clear:both;
}